<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  var headers = ["h1", "h2", "h3", "h4"]
  var colors = ["red", "orange", "green", "blue"]

  $.each(headers, function(i, header){
      var color = colors[i];
      $(header).each(function () {
          var href=$(this).attr("id");
          $(this).append('<a class="headerlink" style="color:' + color + '" href="#' + href + '" title="Permanent link">¶</a>')
      });
  })
</script>
