<div id="td-sidebar-menu" class="td-sidebar__inner">
  <a role="button" class="btn btn-sm btn-success w-100 mb-3 py-1" href="/{{ page.learning_type }}/">Back to all {{ page.learning_type | | capitalize }}</a>
  <button class="btn btn-sm btn-primary btn-block py-2 text-white td-sidebar__toggle d-block d-sm-none m-0 font-weight-bold" type="button"
    data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav"
    aria-expanded="false" aria-label="Toggle section navigation">
    <i class="fas fa-bars mr-3"></i>Table Of Contents
  </button>
  <nav class="collapse td-sidebar-nav pt-2" id="td-section-nav">
    {% for section in site.data[page.learning_type][page.tutorial_name] %}
      <ul class="td-sidebar-nav__section pl-0 pr-md-3 mb-2 py-1">
        <li class="td-sidebar-nav__section-title pl-3">
          <a  href="{% if section.url %}{{ site.baseurl }}/{{ section.url }}{% else %}{{ section.external_url }}{% endif %}"
            class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</a>
        </li>
        {% if section.links %}
        <ul>
          <li class="collapse show" id="{{ section.title | slugify }}">
            <ul class="td-sidebar-nav__section p-0 pr-md-3">
              {% for entry in section.links %}
                <li class="td-sidebar-nav__section-title">
                  <a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}"
                    class="align-left pl-0 px-2 td-sidebar-link td-sidebar-link__section">
                    {{ forloop.index + 1}}. {{ entry.title }}
                  </a>
                </li>
                <ul>
                  <li class="collapse show" id="{{ child.title | slugify }}">
                    {% if entry.children %}
                      {% for child in entry.children %}
                        <a class="td-sidebar-link td-sidebar-link__page "
                          id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ child.title | slugify }}"
                          href="{% if child.url %}{{ site.baseurl }}/{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">
                        </a>
                      {% endfor %}
                    {% endif %}
                  </li>
                </ul>
              {% endfor %}
            </ul>
          </li>
        </ul>
        {% endif %}
      </ul>

      {% unless page.disable_toc %}
        <!-- TOC -->
        <nav id="TableOfContents">
          <p class="h4 mb-2 text-muted">Table of contents</p>
          <ul>
            <li>
              <ul id="TOC">
                <!-- Links will be appended here-->
              </ul>
            </li>
          </ul>
        </nav>
      {% endunless %}
    {% endfor %}
  </nav>
</div>
