---
layout: default
title: Website Development Bootcamp
permalink: /bootcamps/website/
redirect_from: /bootcamps/website-development/
page_name: bootcamps
thumbnail: bootcamps/website-development.jpg
---

<div class="bootcamps-page">

  <!-- page header -->
  <section class="pb-5 pt-4">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-12 overview">
          <h1 class="text-center font-weight-bold">Website Development Bootcamp</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          {% include util/embed-youtube.html id="P6qQomB9umA" %}
        </div>
        <div class="col-md-6">
          {% include util/embed-youtube.html id="unqWlC9W9bM" %}
        </div>
      </div>

      <hr class="mt-6">
    </div>
  </section>

  <!-- Introduction -->
  <section class="pb-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Introduction</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <p>
              It is a fully practical based <strong>Coding Bootcamp</strong> on Website Development where you will
              learn how to build a professional website.
              <br><br>
              Check the sample websites you will be able to build after completing this bootcamp.
              <br>
              <!-- {% include util/embed-youtube.html id="yZYH4RXT0X0" %} -->
            </p>
          </div>
          <div class="text-center mb-4">
            <a href="https://anybodycandevelopwebsite.art" class="btn btn-success btn-lg px-4" target="_blank">
              Click here to view the websites
            </a>
          </div>

          {% include util/highlight.html
            text="Bootcamp key details including fees and duration can be found at the bottom of this page. Click <a href='#key-details'>here</a>." class="h4"
          %}
        </div>
      </div>
    </div>
  </section>

  <!-- Your instructor -->
  <section class="bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Your Instructor</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <p>
              The instructor for this bootcamp is <strong>Budh Ram Gurung</strong>. He is a <em>Teacher</em>,
              <em>educator</em>, <em>an avid Open Source Contributor</em>, <em>Full Stack Engineer</em>, and a researcher.
              <br><br>He preferred to be called as <strong>BRG</strong>.
              <br><br>Although, having 9+ years of IT Industry experience, his passion is teaching and hence he
              built this website (BRG Trainings) to share his knowledge. During his professional tenure,
              he has worked in many different roles and gained wide range of experience from
              Full Stack Web Development, DevOps, Software Development, QA Automation, Digital Marketing
              and Team Management. Visit his <a href="https://freelancerbrg.com" target="_blank">personal website</a>
              to know more.
            </p>
            {% include util/highlight.html
                text="One of the speciality of his teaching is that apart from English language he can able to teach in local languages like
                <strong>Nepali</strong> or <strong>Hindi</strong> and understand the mentality, people and culture of
                both the nations." class="h5 mb-0" type="success"
            %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- What are you going to learn -->
  <section class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">What are you going to learn</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              After completion of this bootcamp, you should have knowledge on following things:
            </h4>
            <ul>
              <li>Good practical knowledge of <em>HTML</em></li>
              <li>Good practical knowledge of <em>CSS</em></li>
              <li>Good practical knowledge of <em>JavaScript</em></li>
              <li>Good practical knowledge of <em>jQuery</em></li>
              <li>Good practical knowledge of <em>Bootstrap 4</em></li>
              <li>Designing <em>UI elements</em>, like buttons, menus, widgets and others</li>
              <li>Knowledge of building <em>Website</em></li>
              <li>Knowledge of making <em>Website Responsive</em></li>
            </ul>
            <h4>
              Bonus Knowledge
            </h4>
            <ul>
              <li>Developer <em>Profile and Website</em></li>
              <li>Experience with <em>Git and GitHub</em></li>
              <li>Familiar with <em>Project building</em> process</li>
              <li>Familiar with <em>Website Deployment</em> process</li>
              <li>Knowledge of browser <em>Developer Tools</em></li>
              <li><em>Interview</em> related questions</li>
              <li><em>Industry Insights</em></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Target job positions -->
  <section class="bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Target Job Positions</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              After completion of this bootcamp, you should have enough technical knowledge to
              work  in following positions:
            </h4>

            <ul>
              <li>Junior Web Developer</li>
              <li>Junior UI Developer</li>
              <li>Junior Front End Engineer</li>
              <li>Freelance Theme Engineer</li>
              <li>Freelance Web Developer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Detailed Curriculum -->
  <section class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Detailed Curriculum</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              This coding bootcamp is structured into 5 phases. Following are the key phases in this bootcamp.
            </h4>

              <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Phase</th>
                  <th scope="col">Goal</th>
                  <th scope="col">Session(s)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Preparation</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Foundations</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Bootstrap 4 and UI Elements</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Build a Website from Scratch</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Projects Building</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>

            {% include util/note.html
                note="1 session = (1.5 - 3 Hrs), 2 sessions per week, 6 weeks coaching, 2 weeks support<strong>, Total = 2 months</strong>." class="w-100 mb-0"
            %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Phase 1 - Preparation -->
  <section class="bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Phase 1 - Preparation</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              This phase helps prepare students mentally and set up the development environment as well.
              <br><br>
              It includes:
            </h4>

            <ul>
              <li>Introduction of Instructor and Students</li>
              <li>Brief of how the bootcamp will work</li>
              <li>Introduction to the communication platforms</li>
              <li>Web Introduction - how the web works</li>
              <li>Shell or Terminal basic commands</li>
              <li>Introduction the necessary tools required for this bootcamp</li>
              <li>Git/GitHub workflow and basic commands</li>
              <li>Software Development workflow in an IT company</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Phase 2 - Foundations -->
  <section class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Phase 2 - Foundations</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              This phase helps prepare students with fundamental concepts needed for the website development.
            </h4>

            <div class="accordion mt-4" id="phase3Accordion">
              <!-- HTML -->
              <div class="card">
                <div class="card-header pl-2" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left no-decoration" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h4 class="mb-0"><i class="fa fa-plus"></i>HTML Concepts</h4>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>HTML Basics</li>
                      <li>Document Heading and Body</li>
                      <li>Block vs Inline elements</li>
                      <li>Tags that interact with Text</li>
                      <li>Links - <em>standard, with image, new tab</em></li>
                      <li>Container tags: <em>article, section and div</em></li>
                      <li>Page structure tags: <em>nav, aside, header, main, footer</em></li>
                      <li>Form and its tags:
                        <ul>
                          <li>Input boxes: <em>text, email, password, numbers, hidden, submit</em></li>
                          <li>Date time, color picker, range picker, telephone, URL</li>
                          <li>Text areas</li>
                          <li>Radio buttons (one option from list of options)</li>
                          <li>Check boxes (zero or more options)</li>
                          <li>Select boxes (one option from drop-down menu)</li>
                          <li>File uploads</li>
                          <li>Form validations</li>
                        </ul>
                      </li>
                      <li>List: <em>ul, ol, li</em></li>
                      <li>Tables
                        <ul>
                          <li>Rows, column headers, table content</li>
                          <li>Span columns and rows, rows heading</li>
                          <li>thead, tbody, tfoot</li>
                        </ul>
                      </li>
                      <li>Multimedia tags: audio and video</li>
                      <li>iframe tag: <em>src, srcdoc, sandbox, referrerpolicy</em></li>
                      <li>Accessibility: writing HTML for people with disabilities</li>
                      <li>Adding meta tags related to SEO</li>
                    </ul>
                    <p>
                      <strong>NOTE:</strong>
                      More might be included as per need during class.
                    </p>
                  </div>
                </div>
              </div>

              <!-- CSS -->
              <div class="card">
                <div class="card-header pl-2" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left no-decoration collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="mb-0"><i class="fa fa-plus"></i>CSS Concepts</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction of CSS</li>
                      <li>Cascade Concepts: <em>specificity, importance, inheritance</em></li>
                      <li>Viewport and Layout</li>
                      <li>Importing CSS</li>
                      <li>Selectors, attribute selectors</li>
                      <li>Pseudo Classes</em></li>
                      <li>Pseudo Elements</li>
                      <li>Colors: <em>named colors, hex notation, HSL, HSLa, rgb, rgba</em></li>
                      <li>Units: <em>px, em, rem, real-world units, relative units, viewport units, calc()</em></li>
                      <li>Backgrounds: <em>color, image, url, clip, position, repeat, attachment etc</em></li>
                      <li>Custom properties: <em>CSS Variable, variables scope</em></li>
                      <li>Fonts: <em>family, weight, style, size</em></li>
                      <li>Custom Font: <em>loading custom fonts using @font-face, font formats</em></li>
                      <li>Typography: <em>text-transform, text-decoration, text-align, line-height etc</em></li>
                      <li>Border: <em>style, color, width, border-radius, use image as border</em></li>
                      <li>Margin, Padding, Box-sizing</li>
                      <li>Display: <em>block, inline, inline-block, none, grid, flex etc</em></li>
                      <li>Positioning: <em>static, relative, absolute, fixed, sticky</em></li>
                      <li>Floating: <em>left, right, none and clearing: left, right, none, both</em></li>
                      <li>Z-index</li>
                      <li>CSS Grid: <em>display, grid-column, grid-row, grid-gap, grid-content</em></li>
                      <li>CSS Flexbox: <em>flex-direction, justify-content, align-items, flex-wrap, flex-flow</em></li>
                      <li>CSS for table</li>
                      <li>Centering: <em>horizontal, vertical, text centering, blocks centering</em></li>
                      <li>Responsive Design: <em>media types and media queries</em></li>
                      <li>CSS Filters</li>
                      <li>Transforms: <em>2D transforms, 3D transforms</em></li>
                      <li>Transitions: <em>liner, ease, ease-in, eas-out, ease-in-out</em></li>
                      <li>CSS Animations: <em>properties you can animate</em></li>
                      <li>Normalizing CSS</li>
                      <li>CSS Error Handling</li>
                      <li>Vendor Prefixes: <em>-webkit-, -moz-, -ms-, -o-</em></li>
                    </ul>

                    <p>
                      <strong>NOTE:</strong>
                      More might be included as per need during class.
                    </p>
                  </div>
                </div>
              </div>

              <!-- JavaScript -->
              <div class="card">
                <div class="card-header pl-2" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4 class="mb-0"><i class="fa fa-plus"></i>JavaScript Concepts</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction to JavaScript</li>
                      <li>JavaScript Basics: <em>variables, data types, expressions</em></li>
                      <li>Variable scopes</li>
                      <li>Operators</li>
                      <li>Conditionals</li>
                      <li>Arrays: <em>literal syntax, access element, methods</em></li>
                      <li>Loops: <em>while, for, for..of</em></li>
                      <li>Functions: <em>declaration, arrow function, function expression</em></li>
                      <li>Objects: <em>literal syntax, new Object(), Object.create()</em></li>
                      <li>Object properties and methods</li>
                      <li>Classes</li>
                      <li>Asynchronous Programming and Callbacks, Promises</li>
                      <li>Document Object Model <em>(HTML DOM)</em>
                        <ul>
                          <li>document object and DOM Methods</li>
                          <li>Finding and accessing DOM elements</li>
                          <li>Changing the HTML element content</li>
                          <li>Changing the DOM HTML and CSS</li>
                          <li>DOM Events</li>
                          <li>EventListener and adding event handler</li>
                          <li>DOM Navigation</li>
                          <li>DOM Nodes: <em>create element, insert element, remove and replace element</em></li>
                          <li>DOM Collection Object and NodeList object</li>
                        </ul>
                      </li>
                      <li>Browser Object Model <em>(HTML BOM)</em>
                        <ul>
                          <li>The window object</li>
                          <li>The window screen</li>
                          <li>The window location</li>
                          <li>The window history</li>
                          <li>The window navigator</li>
                        </ul>
                      </li>
                      <li>Timing Events: <em>setTimeout(), setInterval(), clearTimeout(), clearInterval()</em></li>
                      <li>JavaScript Cookies</li>
                    </ul>

                    <p>
                      <strong>NOTE:</strong>
                      More might be included as per need during class.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header pl-2" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h4 class="mb-0"><i class="fa fa-plus"></i>jQuery Concepts</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction to jQuery</li>
                      <li>Finding elements: <em>by id, tag name, class name and css selectors</em></li>
                      <li>Create, insert, remove and replace nodes</li>
                      <li>$(document).ready(), shorthand syntax, $(window).on("load")</li>
                      <li>jQuery and HTML Elements</li>
                      <li>jQuery and CSS</li>
                      <li>jQuery and DOM manipulations</li>
                    </ul>

                    <p>
                      <strong>NOTE:</strong>
                      More might be included as per need during class.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Phase 3 - Bootstrap 4 and UI Elements -->
  <section class="bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Phase 3 -  Bootstrap 4 and UI Elements</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              In this phase, students will learn about the popular CSS framework Bootstrap 4 and  building UI elements.

              <br><br>
              It includes:
            </h4>

            <ul>
              <li>Bootstrap 4 Introduction</li>
              <li>Adding and using Bootstrap 4 in HTML</li>
              <li>Understanding Layout and Responsiveness: <em>grid, media object</em></li>
              <li>Content: <em>Typography, Code, Images, Tables, Figures</em></li>
              <li>
                  Components: <em>alerts, badges, buttons, card, carousel,
                  collapse, dropdown, forms, input groups, jumbotron, modal,
                  navs, navbar, scrollspy</em>
              </li>
              <li>
                Utilities: <em>border, colors, display, embed, flex, float, position,
                sizing, shadows, margin, padding, text, vertical-align, visibility</em>
              </li>
              <li>Adding Icons</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Phase 4 - Build a Website from Scratch -->
  <section class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Phase 4 - Build a Website from Scratch</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              In this phase, students will learn how to build a website from scratch from creating
              mockup to a complete website.

              <br><br>
              It includes:
            </h4>

            <ul>
              <li>Design the mockup of the website</li>
              <li>Building Navigation bar</li>
              <li>Banner, Header or Hero section</li>
              <li>About Section</li>
              <li>Gallery Section</li>
              <li>Blogs Section</li>
              <li>Contact Section</li>
              <li>Footer section</li>
              <li>Designing About, Gallery, Blogs and contact pages</li>
              <li>Make the Website Responsive</li>
              <li><strong>Working with browser developer Tools</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Phase 5 - Projects Building -->
  <section class="bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Phase 5 - Projects Building</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              In this phase, students will try to build different type of websites from different domain.
              <br><br>
              {% include util/note.html
                  note="This phase require you to use all the knowledge you acquired in previous phases and
                        try to build the projects. The instructor will give initial guidelines and will be
                        monitoring the project building process and review and help as per needed." class="h5 mb-0"
              %}
              <br><br>
              Students will build two or more from following different type of Websites:
            </h4>

            <ul>
              <li>A School website</li>
              <li>A NGO Website</li>
              <li>An e-commerce Website</li>
              <li>An Agency Website</li>
              <li>A Restaurant Website</li>
              <li>A Photographer Website</li>
              <li>A Village website</li>
              <li>Web Developer Portfolio Website</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- What's next from here -->
  <section class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">What's next from here</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="section-wrapper">
            <h4>
              After completion of this bootcamp, you can try following options based on your
              interests:
            </h4>

            <ul>
              <li>Build more projects and start your own Website Development startup</li>
              <li>Build website templates or themes and sale</li>
              <li>Go on to become Freelancer Website Designer and Developer</li>
              <li>
                Join the next advanced Web Application Development Bootcamp on
                Ruby on Rails to advance on to the Full Stack Web Development path
              </li>
              <li>Explore Front End world by learning UI frameworks like ReactJS, VueJS, NodeJs, etc</li>
              <li>Go on to learn NodeJS and check MERN Stack</li>
            </ul>
          </div>

          {% include util/note.html
            note="Remember! Learning is a continuous process. This bootcamp is just the beginning. Good luck!" class="w-100"
          %}
        </div>
      </div>
    </div>
  </section>

    <!-- Bootcamp fees, duration and other details -->
  <section id="key-details" class="bg-light py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center font-weight-bold">Bootcamp Key Details</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Format</th>
                <td>Online Interactive</td>
              </tr>
              <tr>
                <th scope="row">Prerequisites</th>
                <td>Enthusiasm to learn. 1 to 3 hours of dedication post each session.</td>
              </tr>
              <tr>
                <th scope="row">Fees</th>
                <td>Rs <strike>7,000</strike> 5000 /- only</td>
              </tr>
              <tr>
                <th scope="row">Duration</th>
                <td>2 Months, 6 Weeks Coaching, 2 Weeks Support, 2 Sessions per week, 1.5 to 3 Hrs per session</td>
              </tr>
              <tr>
                <th scope="row">Batch Size</th>
                <td>15 students</td>
              </tr>
              <tr>
                <th scope="row">Workflow</th>
                <td>Theory &rarr; Practical &rarr; Assignment &rarr; Feedback</td>
              </tr>
              <tr>
                <th scope="row">Other</th>
                <td>Pair programming to resolve issues</td>
              </tr>
              <tr>
                <th scope="row">Key Features</th>
                <td>Practical. Feedback Oriented. Result Oriented.</td>
              </tr>
              <tr>
                <th scope="row">Support</th>
                <td>Two weeks Slack channel support to solve queries and other issues</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section class="bootcamp-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/bootcamps/" class="btn btn-primary" role="button">All Bootcamps</a>
        </div>
      </div>
    </div>
  </section>
</div>
