<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="fas fa-chalkboard-teacher fa-2x"></i></p>
    <h5>Learn from Professional</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="far fa-smile fa-2x"></i></p>
    <h5>Fun Learning Environment</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="fas fa-tv fa-2x"></i></p>
    <h5>Live Interactive Session</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="fas fa-recycle fa-2x"></i></p>
    <h5>Continuous Feedback</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="far fa-folder-open fa-2x"></i></p>
    <h5>Course Learning Materials</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="far fa-id-badge fa-2x"></i></p>
    <h5>Career Oriented</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="fas fa-hand-holding-heart fa-2x"></i></p>
    <h5>Support post Course End</h5>
  </div>
</div>
<div class="col-md-3 col-6 mb-5">
  <div class="feature-item text-center">
    <p><i class="fas fa-user-tie fa-2x"></i></p>
    <h5>Interview Preparation</h5>
  </div>
</div>
