<section id="features" class="features wow fadeInUp mt-6 pb-6">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading">Features</h1>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex flex-column text-center align-items-center">
        <h1 class="sub-section-heading">Real World Examples</h1>
        <p class="sub-section-text h5 font-weight-lighter text-white-75">
          Learn from the coding examples derived from the <span class="font-weight-bold">real world scenarios or projects</span>
        </p>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/real-world-scenario.gif" class="img-fluid rounded" />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 d-flex flex-column text-center align-items-center order-sm-12">
        <h1 class="sub-section-heading">Structured Content</h1>
        <p class="sub-section-text h5 font-weight-lighter text-white-75">
          The content are categorized into getting tastes, tutorials, or courses. The code snippets,
          texts, images or videos are properly structured to achieve
          <span class="font-weight-bold">quality experience</span>.
        </p>
      </div>
      <div class="col-md-6 order-sm-1">
        <img src="/assets/img/structured-content.jpg" class="img-fluid rounded" />
      </div>
    </div>

  </div>
</section>
