<section class="learn-section py-10 wow fadeInUp">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Learning Resources</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-4 col-12">
        <div class="card text-center">
          <img class="card-img-top lang-img" src="{{ site.asset_base_url }}/img/courses/web-design.png" alt="Ruby">
          <div class="card-body">
            <a href="https://webdesigns.brgtrainings.com" class="btn btn-outline-danger px-4 rounded-0" role="button">
              Web Designing
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="card text-center">
          <img class="card-img-top lang-img" src="{{ site.asset_base_url }}/img/courses/ruby.png" alt="Ruby">
          <div class="card-body">
            <a href="https://ruby.brgtrainings.com" class="btn btn-outline-danger px-4 rounded-0" role="button">
              Learn Ruby Yourself
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="card text-center">
          <img class="card-img-top lang-img" src="{{ site.asset_base_url }}/img/courses/python.png" alt="Python">
          <div class="card-body">
            <a href="https://python.brgtrainings.com" class="btn btn-outline-dark px-4 rounded-0" role="button">
              Learn python Yourself
            </a>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>
