<section class="trainer-profile wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 profile-image-wrapper mx-auto">
        <img src="{{ site.asset_base_url }}/img/profile.jpg" class="img-fluid rounded-circle p-1" alt="Profile image" >
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="mt-4">Your Instructor</h2>
        <h5 class="text-muted mt-4">
          Namaste(Hello), my name is Budh Ram Gurung but preferred to be called as BRG.<br>
          I am a teacher, an educator, open source contributor and a researcher.
          <br><br>
          <span class="font-weight-light">
            I have 9+ years of IT Industry experience ranging from Full Stack Web Development, DevOps,
            Software Development, QA Automation, Digital Marketing, Team Management and running a startup.
          </span>
        </h5>
        <a href="https://freelancerbrg.com/about/" role="button" class="btn btn-secondary px-3 mt-4">
          Know More
        </a>
      </div>
    </div>
  </div>
</section>
