<section class="upcoming-course wow fadeInUp pb-6">
  <div class="container bg-white-shadow">
    <div class="row pb-4">
      <div class="col-md-6">
        <h5 class="text-light-dark">Upcoming Course</h5>
        <h2 class="mb-0">UI Developer 101</h2>
        <div class="bg-dark text-white p-3 rounded mt-3 w-80">
          <h4>Learn Like Pro<br>as Time is Precious!</h4>
        </div>
      </div>
      <div class="col-md-6">
        <h5>UI Developer Course</h5>
        <ul class="course-key-points no-list-style">
          <li class="list-item"><i class="fas fa-check mr-2"></i>2 Weeks or 6 Days or 9 Hours</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>1.5 Hours per session(40-10-40)</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>Guaranteed Results</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>Rigorous Feedback</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>Fun in Coding</li>
        </ul>
        <p class="course-note mt-2 mb-0">
          <b>Note:</b> Post this course, you should be able to apply for Jr. UI Developer position.
        </p>
      </div>
    </div>
    <div class="row pt-0">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 mt-0">
        <a href="/courses/ui-developer-101/" role="button" class="btn btn-secondary px-3">
          View in Detail
        </a>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <h3 class="text-center gradient-text text-muted">Job-ready programs for all students of any skill levels</h3>
  </div>
</section>
