@media (max-width: 992px) {
}
@media (min-width: 992px) {
  .mw-60 {
    max-width: 60%;
  }
  .mw-70 {
    max-width: 70%;
  }
  .mw-80 {
    max-width: 80%;
  }
  .mw-90 {
    max-width: 90%;
  }
  .blog-post-page .container {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .px-xl-6 {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
  .col-xl-3 {
    max-width: 22%;
  }
}

@media (min-width: 768px) {
  .td-main main {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .td-main {
    .td-content {
      .card-columns {
        column-count: 2;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner-section {
    height: 430px;
  }
  .contact-section {
    .contact-info {
      h2 {
        font-size: 20px;
      }
    }
  }
  .course-body .td-outer {
    margin-top: 1rem;
  }
  .features {
    .col-md-6.col-md-6:nth-child(1) {
      padding: 3rem 0;
    }
  }
  .elevator-pitch {
    .container {
      width: 90%;
    }
    .pitch-text {
      padding: 30px;

      .quote-text {
        font-size: 20px;
      }
    }
  }
  .contact-section, .subscribe-section {
    .container {
      width: 70%;
    }
  }

  .td-main {
    .td-content {
      .thumbnail {
        margin-top: 1rem;
      }

      .card-columns {
        column-count: 2;
      }
    }
  }

  .block-to-contact {
    h1 {
      font-size: 1.8em;
    }
    a {
      font-size: 1.2em;
    }
    .fab {
      font-size: 1em;
    }
  }
  .blog-post {
    .container {
      width: 90%;
    }
    .post-container {
      padding: 2em 4em;
    }
  }
  .blogs-highlights {
    .container {
      width: 90%;
    }
    .top-first-image {
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .display-non-md {
      display: none;
    }
  }
  .about-section {
    .profile-pic {
      text-align: center;
      img {
        height: 220px;
        width: auto;
      }
    }
  }
  .upcoming-course {
    margin-top: -8rem;

    .row {
      padding: 2rem 1rem;
    }

    h2 {
      font-size: 1.6rem;
    }
    .course-key-points li {
      font-size: 14px;
    }
  }

  .bootcamps-page {
    .container {
      max-width: 100%;
    }
    .section-wrapper {
      .section-card {
        ul {
          padding-left: 1.5rem;
        }
      }
    }
  }

  #youtubeVideoModal .modal-dialog {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .blog-post {
    margin-top: 0;
  }
  .display-non-mb {
    display: none;
  }
  .sm-block {
    display: block;
  }

  .navbar-nav .nav-item.active .nav-link {
    width: 50%;
    margin: auto;
  }

  .getting-tastes-body {
    .right-arrow-btn {
      img {
        margin-top: 0;
      }
    }
  }

  .features .col-md-6 {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
  }

  .footer-section {
    .footer-text {
      font-size: 25px;
    }
    .footer-social {
      margin: 10px 0;
    }
  }

  .elevator-pitch {
    .container {
      width: 100%;
    }

    .pitch-text {
      padding: 20px;

      .quote-text {
        font-size: 18px;
      }

      .quote {
        font-size: 12px;
      }
    }
  }

  .about-section .learning-approach .card-body {
    padding: 0;
  }

  .contact-section {
    margin-top: 0;
  }
  .contact-section, .subscribe-section {
    .container {
      width: 98%;
    }
  }
  .subscribe-section .contact-info h2 {
    margin-top: 0;
  }
  .text-xs-center {
    text-align: center;
  }
  .block-to-contact h1 {
    font-size: 1.3em;
  }
  .blog-post {
    .container {
      width: 100%;
    }
    .post-container {
      padding: 1rem;
    }
  }

  .blogs-highlights {
    .post-title {
      a {
        font-size: 13px;
      }
    }
    .blogs-highlight-right {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h2 {
    font-size: 2em;
  }

  .devtools-section {
    .card-img-top {
      margin: auto;
      width: 70%;
    }
  }
  .devtool {
    p {
      font-size: 14px;
    }
  }

  .upcoming-course {
    margin-top: -6rem;

    .col-md-6:nth-child(2) {
      margin-top: 2rem;
    }
  }

  .td-main {
    .td-content {
      .card-columns {
        column-count: 1;
      }
    }
  }

  .mb-mob-3 {
    margin-bottom: 1rem;
  }
}

@media(max-width: 360px) {
  .elevator-pitch {
    .pitch-text .quote-text {
      font-size: 13px;
    }
    .pitch-text .quote .fas {
      font-size: 10px;
    }
  }
}

// desktop
@media (max-width: 992px) {
}

// ipad and tablet
@media (max-width: 768px) {
}
