---
layout: default
title: About
permalink: /about/
page_name: about
---

<div class="about-section py-5">
  <h1 class="text-center">About Mentor</h1>
  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-md-8">
        <div class="section-header">
          <h4 class="font-weight-light my-4">Dhanu Gurung is a Mentor, IT Coach and an Entrepreneur.</h4>
          <h6 class="mb-4 font-weight-light"><em>Currently, he is working as a project lead in a startup
          <a href="https://cloudyuga.guru" target="_blank">CloudYuga Guru</a>
          and helping in building a product that help learners with hands-on trainings.</em></h6>
        </div>
        <p class="para-caption">
          He has been teaching independently from 2019 and helping IT students in
          gaining skills needed for software development job.<br><br>
          Previously, he has worked as software developer ranging from <em>startups to MNC</em>
          and has around 11 years of IT experience. He had profound knowledge on
          software development and went through different roles from <em>Quality Assurance,
          Full Stack Web Developer, DevOps Engineer and Team Lead.</em><br><br>
          He is an <em>Open Source Advocate</em> and like to do community work.
          He is also mentoring <a href="https://techsetu.org" target="_blank">TECH Setu</a>
          which is tech community in Nepal working on bridging the gap between IT Students
          and IT Industry.
        </p>
      </div>
      <div class="col-md-3">
        <img src="{{ site.asset_base_url }}/img/profile.jpg" class="profile-img img-fluid rounded-circle shadow mb-3" alt="Profile">
        <h3 class="text-center font-weight-light">Dhanu Gurung</h3>
      </div>
    </div>
  </div>
</div>

<div class="professional-journey text-center py-5">
  <div class="container">
    <h2 class="p-1">Professional Journey</h2>
    <div class="col-sm-12 mt-4">
      {% include timeline.html %}
    </div>
  </div>
</div>

<div class="educational-journey py-5">
  <div class="container">
    <div class="text-center">
      <h2 class="p-1">Educational Journey</h2>
    </div>

    <div class="col-md-12">
      <div class="row">
        {% for info in site.data.about.education %}
          <div class="col-md-4">
            {% include education-outline.html data=info %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
